body {
    margin:0;
    padding:0;
    display: flex;
    flex-direction:column;
    font-family: roboto, sans-serif;
}

.header-container{
    background-color: #1F2937;
    color: #F9FAF8;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.nav img{
    height:50px;
   }

.nav, .hero {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    gap: 20px;
}

.hero-img {
  width: 100%;
  height: auto;
  flex: 50% 1 1;
  margin: 40px;

}

.hero-cta {
    display: flex;
    flex-direction: column;
    flex: 50% 1 1;
}

.hero-header {
    font-size: 48px;
    font-weight: 900;
    margin:0;
}

.hero-cta p {
    margin: 5px;
}

.hero-cta button {
    background-color: #3883F6;
    color: #F9FAF8;
    border-radius: 5px;
    border-style: none;
    width: 100px;
    height: 30px;
    font-weight: bold;
}

.info-container {
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.info-content {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    gap: 20px;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.info-items {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.info-item {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    align-items: center;
    text-align: center;
}

.info-img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    border-color: #3883F6;
    border-width: 3px;
    border-style: solid;
}

.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 80px;
}

.quote-content {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
    margin: 0;
    padding: 0;
}

.author {
    align-self: flex-end;
    font-weight: bold;
}

.cta-container {
    display:flex;
    justify-content: center;
    align-items: center;
}

.cta-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70vw;
    height: 150px;
    color: #F9FAF8;
    background-color: #3882F6;
    margin: 50px;
    border-radius: 5px;
    padding:0;
}

.cta-header {
    font-weight: bold;
    font-size: 26px;
    padding:0;
    margin:0;
}

.cta-button {
    background-color: #3882F6;
    border-radius: 10px;
    border-color: #F9FAF8;
    border-style: solid;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    width: 150px;
    height: 40px;
}

.cta-text {
    padding:0;
    margin:0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    height: 10vh;
}
ul {
    display: flex;
    gap: 16px;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}